.App{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    width: 100vw;
    height: 100vh;
}

.ButtonStyle{
    width: auto;
    display: flex;
}

.InputStyle{

}

.Entities{
    display: flex;
    align-items: center;
}